<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhou.reader">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.detail.BookDetailActivity"
            android:label="@string/title_book_detail" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_search" />
        <activity
            android:name=".ui.read.ReadActivity"
            android:label="@string/title_activity_read"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setting.ReadSettingsActivity"
            android:label="@string/title_read_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShelfActivity"
            android:label="@string/title_shelf" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a22ccf23c707edc51f62cbb47a7ce27fe8669e9f" />

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_about" />
        <activity
            android:name=".ui.search.history.SearchHistoryActivity"
            android:label="@string/title_search_history" />
        <activity
            android:name=".ui.read.history.ReadHistoryActivity"
            android:label="@string/title_read_history" />
        <activity android:name=".widget.WebViewActivity"></activity>
    </application>

</manifest>